﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member only</title>
</head>
<body>
    <section>
        <h1>Manage section</h1>
    </section>
    <hr />
    <section>
        <form method="post" action="{{ url_for('manage.logout')}}">
            <input type="hidden" name="CSRFToken" value="{{g.CSRFToken}}" />
            Hello, {{name}} <input type="submit" value="logout" />
        </form>
        <b>menu</b>
        <ul>
            <li><a href="{{ url_for('manage.home') }}">home</a></li>
            {% if session.role == 'admin' %}
            <li><a href="{{ url_for('manage.first') }}">first</a></li>
            {% endif %}
            {% if session.role in ('admin', 'engineer') %}
            <li><a href="{{ url_for('manage.second') }}">second</a></li>
            {% endif %}
            {% if session.role in ('admin', 'engineer', 'qa', 'operator') %}
            <li><a href="{{ url_for('manage.third') }}">third</a></li>
            {% endif %}
        </ul>
    </section>
    <hr />
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>