﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    <section>
        <h1>manage section</h1>
    </section>
    <hr />
    <nav>
        <form method="post">
            <input type="hidden" name="CSRFToken" value="{{g.CSRFToken}}" />
            <input type="text" name="name" value="{{name}}" placeholder="Id" autocomplete="off" required />
            <input type="password" name="pass" placeholder="Password" autocomplete="off" required />
            <input type="submit" value="Login" />
        </form>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </nav>
</body>
</html>