﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <input type="hidden" name="CSRFToken" value="{{g.CSRFToken}}" />
        Name <input type="text" name="name" required /><br />
        Pass <input type="password" name="pass" required /><br />
        <input type="submit" value="register" />
    </form>
    <div>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
</body>
</html>