﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>何でも覚えよう。</title>
    <script src="angular.min.js"></script>
    <script src="angular.nandemo.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
        }

        td, td {
            padding: 15px;
        }
    </style>
</head>
<body ng-app="NandemoApp" ng-controller="NandemoCtrl">
    <header>
        <h1>何でも覚えよう。</h1>
    </header>
    <section>
        <!-- 1. 넣어요 -->
        <section ng-show="Main.CurrentPage == 'InputPage'">
            <h2>1. 넣어요.</h2>
            <hr />
            <p>
                1) 매칭되는 셋트를 A, B, Hint 순으로 입력해주세요. Enter키로 구분합니다.<br />
                2) 다 입력했으면, 넣기 버튼을 눌러주세요.<br />
                3) 다 넣어지면 놀기 버튼이 나타나요. 그러면 놀기 버튼을 눌러주세요.
            </p>
            <div>
                <textarea name="data" rows="30" style="width:100%;" ng-model="Input.UserInputData" placeholder="Tom,톰,톰과 제리의 고양이&NewLine;Jerry,제리, 톰과 제리의 생쥐&NewLine;King Kong,킹콩,큰 고릴라"></textarea>
                <br />
                <button ng-click="Input.InputData()">넣기</button>
                <button ng-click="Input.GotoPlayPage()" ng-hide="Input.DataSet.length == 0">퍼즐게임하러 가기</button>
            </div>
        </section>
        <!-- 2. 놀아요 -->
        <section ng-show="Main.CurrentPage == 'PlayPage'">
            <h2>2. 놀아요.</h2>
            <hr />
            <div>
                <!-- 점수 -->
                <div ng-repeat="P in Puzzle.Players">
                    <h5 ng-if="$index == 0">
                        {{P.Parameters.Name}}: {{P.Status.Score}} 점
                    </h5>
                    <h5 ng-if="$index == 1">
                        {{P.Parameters.Name}}: {{P.Status.Score}} 점
                        <small>
                            (Brain size: <input type="range" min="1" max="10" ng-model="Puzzle.Players[1].Parameters.BrainSize">{{P.Parameters.BrainSize}},
                            Move interval: <input type="range" min="100" max="2000" ng-model="Puzzle.Players[1].Parameters.Speed">{{P.Parameters.Speed}} ms)
                        </small>                        
                    </h5>
                </div>
                <!-- 버튼 -->
                <div>
                    <button ng-click="Puzzle.GameStart()" ng-disabled="Puzzle.System.Status.GameProgress != 'Ready'">게임시작</button>
                </div>
                <hr />
                <!-- 퍼즐 -->
                <div>
                    <table>
                        <tr>
                            <td style="width:25%;background-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                title="{{PD.Hint}}"
                                ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 0"
                                ng-click="Puzzle._BrickPress($index, 0)"
                                ng-disabled="PD.Owner != null">
                                {{PD.DisplayText}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;background-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                title="{{PD.Hint}}"
                                ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 4"
                                ng-click="Puzzle._BrickPress($index + 4, 0)"
                                ng-disabled="PD.Owner != null">
                                {{PD.DisplayText}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;background-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                title="{{PD.Hint}}"
                                ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 8"
                                ng-click="Puzzle._BrickPress($index + 8, 0)"
                                ng-disabled="PD.Owner != null">
                                {{PD.DisplayText}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;background-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                title="{{PD.Hint}}"
                                ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 12"
                                ng-click="Puzzle._BrickPress($index + 12, 0)"
                                ng-disabled="PD.Owner != null">
                                {{PD.DisplayText}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </section>
</body>
</html>