﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>何でも覚えよう。</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular.nandemo.js"></script>
</head>
<body ng-app="NandemoApp" ng-controller="NandemoCtrl">

    <!-- 디버그용 PuzzleDataSet 테이블 -->

    <div>
        <h3>AI 메모리</h3>
        <table style="border:1px solid black;border-collapse:collapse;">
            <tr>
                <th>Text</th>
                <th>Id</th>
                <th>BrickId</th>
            </tr>
            <tr ng-repeat="M in Puzzle.Players[1].Parameters.Brain">
                <td>{{M.Text}}</td>
                <td>{{M.Id}}</td>
                <td>{{M.BrickIdx}}</td>
            </tr>
        </table>
        <h3>AI 발견한 셋트</h3>
        <table style="border:1px solid black;border-collapse:collapse;">
            <tr>
                <th>Text</th>
                <th>Id</th>
                <th>BrickIdx</th>
            </tr>
            <tr ng-repeat="M in Puzzle.Players[1].Parameters.SetFound">
                <td>{{M.Text}}</td>
                <td>{{M.Id}}</td>
                <td>{{M.BrickIdx}}</td>
            </tr>
        </table>
    </div>

</body>
</html>