﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nandemo</title>
</head>
<body>
    <nav>
        <a href="{{url_for('home.root')}}">home</a>
        <a href="{{url_for('home.game')}}">game</a>
        <a href="{{url_for('manage.login')}}">login</a>
    </nav>
    <hr />
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>