﻿body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo {
    width:100%;
    height:100%
}
.tutorialImg {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.playerName {
    color: black;
}
.cpuName {
    color: red;
}
.brick {
    width:100px;
    height:100px;
    border: 2px solid;
    margin-left: 4px;
}
table, th, td {
    border-collapse: collapse;
    padding: 0;
}
@media (max-width: 450px) {
    .brick {
        width: 87px;
        height: 87px;
    }
}
@media (max-width: 400px) {
    .brick {
        width: 75px;
        height: 75px;
    }
}
@media (max-width: 350px) {
    .brick {
        width: 63px;
        height: 63px;
    }
}
@media (max-width: 300px) {
    .brick {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 250px) {
    .brick {
        width: 37px;
        height: 37px;
    }
}
@media (max-width: 200px) {
    .brick {
        width: 24px;
        height: 24px;
    }
}