<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Redis</h1>
<p th:text="${val}" />
<h4><a href="/">home</a></h4>
</body>
</html>