﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puzzle</title>
    <link rel="stylesheet" href="static/PuzzleGame.css">
    <script src="static/angular.min.js"></script>
    <script src="static/PuzzleGame.js"></script>
</head>
<body ng-app="PuzzleApp" ng-controller="PuzzleCtrl">
    <section>
        <!-- game start page -->
        <section ng-show="Main.CurrentPage == 'StartPage'">
            <img class="logo" src="img/logo.jpg" />
            <br />
            <button ng-click="Main.GotoTutorialPage1()">New Game</button>
            <br />
            <br />
            <small>採用支援目的のプログラムです。</small>
        </section>
        <!-- tutorial page 1 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage1'">
            <h1>Tutorial (page 1/6)</h1>
            <img class="tutorialImg" src="img/tutorial1.png" />
            <p>
                プロレスラーの写真と名前をマッチングするゲームです。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoTutorialPage2()">Next</button>
        </section>
        <!-- tutorial page 2 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage2'">
            <h1>Tutorial (page 2/6)</h1>
            <img class="tutorialImg" src="img/tutorial2.png" />
            <p>
                Brickを押すと中身が見えます。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoTutorialPage3()">Next</button>
        </section>
        <!-- tutorial page 3 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage3'">
            <h1>Tutorial (page 3/6)</h1>
            <img class="tutorialImg" src="img/tutorial3.png" />
            <p>
                こんなふうにペアを探します。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoTutorialPage4()">Next</button>
        </section>
        <!-- tutorial page 4 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage4'">
            <h1>Tutorial (page 4/6)</h1>
            <img class="tutorialImg" src="img/tutorial4.png" />
            <p>
                ユーザーが押したBrickは黒色で、CPUが押したBrickは赤色で表示されます。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoTutorialPage5()">Next</button>
        </section>
        <!-- tutorial page 5 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage5'">
            <h1>Tutorial (page 5/6)</h1>
            <img class="tutorialImg" src="img/tutorial5.png" />
            <p>
                相手より多いペアを探すと勝利となります。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoTutorialPage6()">Next</button>
        </section>
        <!-- tutorial page 6 -->
        <section ng-show="Main.CurrentPage == 'TutorialPage6'">
            <h1>Tutorial (page 6/6)</h1>
            <img class="tutorialImg" src="img/tutorial6.png" />
            <p>
                CPUの脳や速度を調整して挑戦する事も出来ます。
            </p>
            <button ng-click="Main.GotoPlayPage()">Skip</button>
            <button ng-click="Main.GotoPlayPage()">Game Start</button>
        </section>
        <!-- game play page -->
        <section ng-show="Main.CurrentPage == 'PlayPage'">
            <h1>Play</h1>
            <div>
                <!-- 点数 -->
                <div ng-repeat="P in Puzzle.Players">
                    <h5 ng-if="$index == 0">
                        <span class="playerName">&#9899;</span> {{P.Parameters.Name}}: {{P.Status.Score}} 点
                    </h5>
                    <h5 ng-if="$index == 1">
                        <span class="cpuName">&#9899;</span> {{P.Parameters.Name}}: {{P.Status.Score}} 点
                        <br />
                        <small>
                            Brain size: <input type="range" min="1" max="10" ng-model="Puzzle.Players[1].Parameters.BrainSize">{{P.Parameters.BrainSize}}
                            <br />
                            Move interval: <input type="range" min="100" max="2000" ng-model="Puzzle.Players[1].Parameters.Speed">{{P.Parameters.Speed}} ms
                        </small>
                    </h5>
                </div>
                <!-- ボタン -->
                <div>
                    <button ng-click="Puzzle.GameStart()" ng-disabled="Puzzle.Status.GameProgress != 'Ready'">Retry</button>
                </div>
                <hr />
                <!-- パズル -->
                <div>
                    <table>
                        <tr>
                            <td>
                                <input type="image" class="brick" style="border-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                       alt="{{PD.Hint}}"
                                       ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 0"
                                       ng-click="Puzzle._BrickPress($index, 0)"
                                       ng-disabled="PD.Owner != null"
                                       ng-src="{{PD.DisplayImage}}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="image" class="brick" style="border-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                       alt="{{PD.Hint}}"
                                       ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 4"
                                       ng-click="Puzzle._BrickPress($index + 4, 0)"
                                       ng-disabled="PD.Owner != null"
                                       ng-src="{{PD.DisplayImage}}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="image" class="brick" style="border-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                       alt="{{PD.Hint}}"
                                       ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 8"
                                       ng-click="Puzzle._BrickPress($index + 8, 0)"
                                       ng-disabled="PD.Owner != null"
                                       ng-src="{{PD.DisplayImage}}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="image" class="brick" style="border-color:{{Puzzle._BrickColor(PD.Owner, PD.IsSolved)}}"
                                       alt="{{PD.Hint}}"
                                       ng-repeat="PD in Puzzle.DataSet | limitTo : 4 : 12"
                                       ng-click="Puzzle._BrickPress($index + 12, 0)"
                                       ng-disabled="PD.Owner != null"
                                       ng-src="{{PD.DisplayImage}}" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </section>
</body>
</html>